.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #011627;
}

.header h1 {
  font-size: 30px;
  color: #fff
}

.header h3 {
  color: #fff;
  font-size: 15px;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .cartIcon {
  margin-bottom: 10px;
}


@media (min-width: 400px) {
  .header {
    flex-direction: row;
  }
  .header h1 {
    margin-left: 20px;
  }
  
  .header .cartIcon {
    margin-right: 20px;
  }
  
}