.homeClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: url('../images/page.jpg') no-repeat center center; 
  background-size: cover;
  color: white;
  padding: 20%;
  letter-spacing: 2px;
}

.homeClass h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: #FDFFFC;
  color: #011627;
  padding: 20px;
}

.homeClass p {
  background-color: #FDFFFC;
  color: #011627;
  padding: 20px;
}

@media (min-width: 800px) {
  .homeClass {
    margin-top: 30px;
  }
}