.page {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page .products ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 20px;

}

.page .products li {
  margin: 30px;
  width: 220px;
  height: 400px;
  background-color: #003459;
  transition: .3s;
  color: #fff;
  padding: 15px;
}

.page .products li:hover {
  box-shadow: -3px 10px 88px -4px rgba(0, 0, 0, 0.9);
}


@media (min-width: 600px) {
  .page .products ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

}