.page .products ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;

}

.page .products li {
  margin: 20px;
  width: 250px;
  height: 400px;
  background-color: purple;
}


@media (min-width: 600px) {
  .page .products ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}